on: [push]

jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v3

      # - name: Setup yarn
        # run: npm install -g yarn

      # - uses: actions/setup-node@v3
        # with:
          # node-version: "16.x"
          # cache: "yarn"

      # - run: yarn install --frozen-lockfile
      #
      - name: Hello world action step
        uses: ./src
        id: hello
        with:
          who-to-greet: 'Mona the Octocat'

      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"

